[submodule "0x12-singly_linked_lists/0x12-singly_linked_lists/alx-low_level_programming"]
	path = 0x12-singly_linked_lists/0x12-singly_linked_lists/alx-low_level_programming
	url = https://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@github.com/Godlove2/alx-low_level_programming.git
